{% extends 'main.html' %}
{% load static %}
{% block content %}

    <div class="container container-custom">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
            {% for product in products %}
                {#  Product Card  #}
                <div class="col">
                    <div class="product-inner">
                        <div class="product-wrap">

                            <img src="{{ product.imageURL }}">
                            {% if product.discount %}
                            <div class="badge">Reducere: {{ product.discount|floatformat:0 }}%</div>
                            {% endif %}

                            <div class="actions">
                                <a data-product="{{ product.id }}" data-action="add" href="" class="add-to-cart update-cart"></a>
                                <a href={% url 'product_detail' product.slug %} class="quickview"></a>
                                <a href="" class="wishlist"></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="{% url 'product_detail' product.slug %}">{{ product.name }}</a></h3>
                            {% if product.discount %}
                                <span class="discount-price">Lei {{ product.sell_price|floatformat:0 }}</span>
                                <span class="price"><s>Lei {{ product.price|floatformat:0 }}</s></span>
                            {% else %}
                                <span class="price">Lei {{ product.price|floatformat:0 }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}