{% extends 'store/main.html' %}
{% load static %}
{% block content %}

    <div class="container container-custom">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
            {% for product in products %}
                {#  Product Card  #}
                <div class="col">
                    <div class="product-inner">
                        <div class="product-wrap">
                            <img src="{{ product.imageURL }}">
                            <div class="actions">
                                <a data-product="{{ product.id }}" data-action="add" href="" class="add-to-cart update-cart"></a>
                                <a href={% url 'product_detail' product.id %} class="quickview"></a>
                                <a href="" class="wishlist"></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h3>
                            <span class="price">Lei {{ product.price|floatformat:0 }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}